.locationCity {
  color: White;
  font-family: 'Nordica Plus', 'nordicaclassicltext';
  font-weight: bold;
  font-size: 30;
}

.locationCountry {
  color: darkgray;
  font-family: 'Nordica Plus', 'nordicaclassicltext';
  font-size: 18;
  text-transform: uppercase;
}
